/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}


/******************************************
/* BASE STYLES
/*******************************************/

* {
  border: 1px dotted black;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  border-bottom: 2px solid orangered;
}

ul, li {
  list-style: none;
  display: inline;
}

.button, .button a {
  background: orangered;
  color: white;
}

.button-decor {
  background: orange;
  color: white;
}

h4, strong {
  color: orange;
}


/******************************************
/* LAYOUT
/*******************************************/

main {
  background-image: url("main_bg.png");
  background-color: blanchedalmond;
  padding: 0 0 50px 50px;
}

main nav {
  float: right;
}

body > * {
  float: left;
  width: 100%;
}

header > * {
  display: inline;
}

.col-1-2 {
  width: 50%;
}

.col-1-2-padding {
  float: left;
  width: 50%;
  padding: 1%;
}

.float, 
.image-left > * {
  float: left;
}

.image-left > div {
  width: 25%;  
}

.image-left > section {
  width: 45%;
  /* padding-right: 10%; */
}

.image-none {
  padding: 3% 6%;
}

.image-none > * {
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
