<main id="home">
    <header class="contrast-bg-color"> 
        <nav class="flex">
            <span class="logo-font" id="logo">Rustic</span>
            <ul class="flex sidenav" id="mySidenav">
                <!-- <li id="logo">Rustic</li> -->
                <li class="hide"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
                <li><a routerLink="welcome" onclick="closeNav()">Home</a></li>
                <li><a routerLink="about" onclick="closeNav()">About Us</a></li>
                <li><a routerLink="menu" onclick="closeNav()">Menu</a></li>
                <li><a routerLink="location" onclick="closeNav()">Location</a></li>
            </ul>
            <div class="flex center hide"><img src="assets/menu-icon.png" alt="menu icon" id="menu-icon" onclick="openNav()"></div>
        </nav>
    </header>
</main>