<section class="margin flex flex-center" id="about">
    <section>
        <h4 class="center">About Us</h4>
        <br>
        <h2 class="center">What Sets Us Apart</h2>
        <br>
        <p>We source simple, wholesome ingredients of the highest quality from local, sustainable farmers. We take pride in providing healthy, delicious food that nourishes the soul. Come join us!</p>
        <br>
        <p>If you have food allergies or preferences, please let us know. Our highest priority is ensuring everyone has a good experience.</p>
        <br>
        <div class="flex-inline flex-center">
            <a routerLink="/menu" class="button">Discover Menu </a> <!-- &#9660 -->
        </div>
    </section>
</section>