<section class="flex flex-col flex-center margin" id="location">
    <h4>Book Table</h4>
    <h2>Opening Hours</h2>
    <div>
        <img src="assets/phone_icon.png" alt="phone icon">
        <br>
        <span>Call Now</span>
        <br><br>
        <span><strong><a href="tel:123-456-7890">123.456.7890</a></strong></span>
    </div>
    <section class="flex hours flex-col"> <!-- flex-row space-between -->
        <div class="flex-col line-height">
            <span>Monday to Thursday</span>
            <br>
            <span>9:00am - 9:00pm</span>
        </div>
        <div class="flex-col line-height">
            <span>Friday to Saturday</span>
            <br>
            <span>11:00am - 10:00pm</span>
        </div>
    </section>
    <section class="line-height">
        123 Main Street
        <br>
        Atlanta, GA 30363
    </section>

    <ul class="flex-inline">
        <li><a href="#"><img src="assets/facebook_icon.png" alt="fb icon"></a></li>
        <li><a href="#"><img src="assets/twitter_icon.png" alt="twitter icon"></a></li>
        <li><a href="#"><img src="assets/instagram logo_icon.png" alt="instagram icon"></a></li>
    </ul>
</section>